.popup {
	display: inline-flex;
	flex-direction: column;
	align-content: horizontal;
}

.gameboard {
    background-image: url("../images/board.jpg");
    background-size: cover;
    background-position: center;
}

.gameboard table, tr, td{
	border: 1px solid black;
	border-spacing: 5px;
}

.gameboard table{
	border-collapse: collapse;
	text-align: center;
}

.gameboard tr {
	height: 50px;
}

.gameboard td {
	width: 50px;
}
